* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
}

body {
    background-image: linear-gradient(120deg, #c1cf25, #114855);
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header form{
    background-color: white;
    padding: 7px;
    margin-top: 20px;
}
form input {
    border: none;
    outline: none;
}
form button {
    padding: 5px;
    background-color: #114855;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: white;
    color: #114855;
}
.trash-btn .fa-trash {
    pointer-events: none;
}
.chek-btn .fa-chek{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
body {
    background-color: linear-gradient(135deg, yellow, blue);
}
header {
    background-color: yellow;
    width: 500px;
    margin-left: 500px;
    margin-top: 77px;
    padding: 10px;
    border-radius: 3px;
}
.trash-btn {
    background-color: red;
    border-radius: 3px;
    border: 0px;
}
.check-btn {
    background-color: red;
    border-radius: 3px;
    border: 0px;
}
:hover .check-btn {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 3px;
}
:hover .trash-btn {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 3px;
}
